@model AllInspectionsQueryModel

@{ ViewBag.Title = "Inspections"; }

<div class="row">
    <h1 class="col-md-12">@Model.BeehiveName</h1>
    <div class="col-md-4">
        <div class="mb-3">
            <div>
                <a asp-controller="Inspections" asp-action="Add" asp-route-beehiveId="@Model.BeehiveId" class="btn btn-primary">Add Inspection</a>
            </div>
        </div>
    </div>
</div>

@if (!Model.Inspections.Any())
{
<h2 class="text-center">No inspections found!</h2>}
else
{
<partial name="_InspectionPartial" model="@Model.Inspections" />}
