@model IEnumerable<BeeGardenServiceModel>

    @{ ViewBag.Title = "Admin"; }

    <h1>All Beegardens</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">User</th>
                <th scope="col">Name</th>
                <th scope="col">Location</th>
                <th scope="col">Year</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var beegarden in Model)
            {
            <tr>
                 <td scope="col">@beegarden.UserId</td>
                 <td scope="col">@beegarden.Name</td>
                 <td scope="col">@beegarden.Location</td>
                 <td scope="col">@beegarden.Year</td>
            </tr>
            }
        </tbody>
    </table>
